 .custom-list li:before {
    content: "\25C9"; 
    color: teal; 
    margin-right: 5px;
  }

  .custom-a {
    text-decoration: none;
  }

  .custom-a:hover {
    text-decoration: underline !important;
    color: coral !important;

  }

  #btn-scrollTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    width: 10px;
    height: 10px;
    border: none;
  }

  #btn-scrollTop svg {
     position: absolute;
     right: 1px;
     bottom: 1px;
  }

  #dropdown {
    position: fixed;
    bottom: 620px;
    right: 50px;
    width: 10px;
    height: 10px;
    border: none;
    display: none;
  }

  #dropdown div {
    background-color: teal;
  }

  #dropdown a {
    border: none;
    background-color: teal;
  }

  @media all and (max-width: 991px) {
    #dropdown {
      display: inline;
    }
  }